scripts
node_modules
#Hardhat files
cache
artifacts
.idea
package-lock.json
env.js
.openzeppelin
tmp
deployments
publish/deployed/hardhat
publish/deployed/localhost
doc
scripts
docs
*-bak*
rsync.sh
rsync-exclude.list

